* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('/sandbox/assets/images/FONDO.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    min-height: 100vh;
}

.logo-pa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo-pa img {
    max-width: 50%;
    height: auto;
    margin-top: 10%;
    margin-right: 10%;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.formulario img {
    max-width: 60%;
    margin: 0 0 45px 40px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.formulario label {
    font-size: 15px;
    margin: 10px 0 5px 0;
}

.formulario input {
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
}

.formulario a {
    text-align: right;
    color: #244d25;
    margin: 0 0 25px 0;
    text-decoration: none;
    font-size: 14px;
}

.formulario button {
    font-size: 20px;
    width: 100%;
    background-color: #244d25;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px 0 0 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    font-size: small;
    padding: 0 20px;
    box-sizing: border-box;
}

.acceso {
    color: white;
}